body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

input, button {
    padding: 10px;
    margin: 5px;
}

button {
    background: #007bff;
    color: white;
    border: none;
}

li {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

.delete {
    background: red;
}
